div
    span award 5
    h1 Entrepreneur of the year
    p This award goes to the Partner who captures the finest in creative and entrepreneurial spirit, combined with exemplary business planning.
div
    span award 6
    h1 Partner of the year
    p This award recognises the star performer who truly embodies a life less ordinary, and whose products both inspire and achieve tremendous commercial success.
div
    span award 7
    h1 Start-Up Success Award
    p In honour of our commitment to supporting exceptional new talent, this award recognises the new seller who’s shown continual innovation and promising growth.
div.last
    span award 8
    h1 Partnership of the year
    p This is awarded to the Partner who has demonstrated exceptional teamwork in building their business.
