div
    span award 9
    h1 Lifetime Contribution Award
    p Celebrating a long-time member of the notonthehighstreet.com community, this prestigious award recognises a true advocate for the business.

    a(href="http://www.notonthehighstreet.com/bombus", class="button_mk_aw text_button winner") Bombus &gt;

div
    span award 10
    h1 Business Advice Award
    p Awarded to the Partner who has offered practical guidance and advice to help members of the notonthehighstreet.com community find their feet.

    a(href="http://www.notonthehighstreet.com/coconutgrass", class="button_mk_aw text_button") Andrew Dennison – Coconutgrass &gt;
    a(href="http://www.notonthehighstreet.com/ellieellie", class="button_mk_aw text_button winner") Danielle Plowman – Ellie Ellie &gt;
    a(href="http://www.notonthehighstreet.com/mariaallenjewellery", class="button_mk_aw text_button") Maria Allen – Maria Allen Boutique &gt;
    
div.last
    span award 11
    h1 Community Spirit Award
    p This award recognises the Partner who has been a consistently upbeat, constructive and encouraging member of the notonthehighstreet.com community.

    a(href="http://www.notonthehighstreet.com/winkdesign", class="button_mk_aw text_button") Michelle Lancaster – Wink Design &gt;
    a(href="http://www.notonthehighstreet.com/thewritesoap", class="button_mk_aw text_button winner") Sue Acton – The Write Soap &gt;
    a(href="http://www.notonthehighstreet.com/studio9", class="button_mk_aw text_button") Alex Bown – Studio 9 Ltd &gt;
