div
    span award 3
    h1 Gift of the Year
    p Awarded to the product you would be desperate to spoil the surprise of, eager to see be unwrapped, and get the greatest pleasure from giving.

    section.image_selection
        a(href="http://www.notonthehighstreet.com/thegluttonousgardener/product/mini-vineyard")
            img(src="http://cdn3.notonthehighstreet.com/system/product_images/images/001/317/832/normal_mini-vineyard.jpg", alt="Grapevine Gift Set")
            p Framed Favourite Song Picture
        a(href="http://www.notonthehighstreet.com/sarahandbendrix/product/favourite-song-framed-picture") 
            img(src="http://cdn0.notonthehighstreet.com/system/product_images/images/001/598/784/normal_favourite-song-framed-picture.jpg", alt="Framed Favourite Song Picture")
            p Framed Favourite Song Picture

        a(href="http://www.notonthehighstreet.com/klevercase/product/classic-book-case-for-kindle") 
            img(src="http://cdn1.notonthehighstreet.com/system/product_images/images/001/552/819/normal_classic-book-case-for-kindle.jpg", alt="Classic Book Case for Kindle")
            p Book Case for Kindle

    a(href="http://www.surveygizmo.com/s3/1718211/Gift-of-the-Year-2014", class="button_mk_aw") place your vote &gt;

div.last
    span award 4
    h1 Best Customer Service
    p Great products are made even greater by terrific service. This award recognises the seller going above and beyond to make you a more than satisfied customer.

    section.image_selection
        a(href="http://www.notonthehighstreet.com/lisaangeljewellery")
                img(src="http://www.notonthehighstreet.com/email/2014/pages/the-make-awards-2014/customer-award/Lisa-Angel.jpg", alt="lisa angel")
                p lisa angel &gt;
        a(href="http://www.notonthehighstreet.com/mollymoodesigns")
                img(src="http://www.notonthehighstreet.com/email/2014/pages/the-make-awards-2014/customer-award/Molly-Moo-Designs.jpg", alt="Molly moo designs")
                p Molly moo designs &gt;
        a(href="http://www.notonthehighstreet.com/marvlingbros")
                img(src="http://www.notonthehighstreet.com/email/2014/pages/the-make-awards-2014/customer-award/Marvling-Bros-Ltd.jpg", alt="marvling bros ltd.")
                p marvling bros ltd. &gt;

    a(href="http://www.surveygizmo.com/s3/1718219/Best-Customer-Service-2014",class="button_mk_aw") place your vote &gt;