div.last
    span award 12
    h1 The Future Star Award
    p Small creative business looking for a big break? We’re choosing four of the UK’s best to springboard into notonthehighstreet.com stardom.
    p Each recipient will win a £1000 prize, free membership to notonthehighstreet.com, a year of mentoring to get you off to the best possible start, and much more.

    a(href="apply",class="button_mk_aw") Nominate your business now &gt;






 

