div.last
    span award 12
    h1 The Future Star Award
    p Entries for The Make Awards 2014 have now closed. If you would like to sell with us, please go to our sign-up pages and fill in an application form.
    
    a(href="https://www.notonthehighstreet.com/join/signup", class="button_mk_aw") sell with us
    