div
    span award 1
    h1 Social Success of the Year
    p This award recognises the product that has generated the most excitement, and had the most significant social reach, in the past 12 months.

    a(href="http://www.notonthehighstreet.com/oakdenedesigns/product/personalised-drawer-label-stickers", class="button_mk_aw text_button") Personalised Drawer Label Stickers &gt;
    a(href="http://www.notonthehighstreet.com/fortheloveofgeek/product/i-turned-out-perfectly-mothers-day-card", class="button_mk_aw text_button winner") I turned out perfectly Card for Mum &gt;
    a(href="http://www.notonthehighstreet.com/karinakesson/product/alcohol-may-not-solve-problems-tea-towel", class="button_mk_aw text_button") Alcohol May Not Solve Problems Tea Towel &gt;

div.last
    span award 2
    h1 Best New Product
    p Awarded to the new product that was so original, so innovative, and so beautifully crafted, that it completely swept us off our feet.

    a(href="http://www.notonthehighstreet.com/beckybroomeltd/product/personalised-drinks-measure-wine-glass", class="button_mk_aw text_button") Personalised Drinks Measure Wine Glass &gt;
    a(href="http://www.notonthehighstreet.com/wue/product/friendship-knot-silver-earrings", class="button_mk_aw text_button") Friendship Knot Silver Earrings &gt;
    a(href="http://www.notonthehighstreet.com/dassie/product/barrett-s-ridge-beer-bread", class="button_mk_aw text_button") Barrett's Ridge Beer Bread Mix &gt;
