.content_wrapper
  nav.make_awards_nav
    ul
      li
        a(href='./') about the make awards 2014

section.intro_future_star_award
  
  div.title_mk_award
    h1.logo Make Awards
    div.background

  div.copy_mk_award.content_wrapper
    p Every year, we celebrate the achievements and successes of the talented designer-makers that sell through our site. The Make Awards winners represent the best of creativity, originality and entrepreneurial thinking. It’s our very great privilege to honour them.

    <a class="button_mk_aw nominate_form" href="#application_form">nominate your business &gt;</a>

    small.mk_terms_conditions
      a(href="http://www.notonthehighstreet.com/pages/make-awards-terms-and-conditions") view terms and conditions

section.about_future_star_awards
  div.content_wrapper
    p Are you an undiscovered talent bursting with unique, innovative products that people can’t help getting excited about? This could be just the launch you’re looking for. For the first time ever, we’re throwing open our annual awards to give four of the best small creative businesses across the UK their big break. You stand to win:
    
    ul
      li &gt; £1000 cash prize
      li &gt; Free membership to notonthehighstreet.com
      li &gt; 0% commission for the first two months of membership
      li &gt; Professional photography shoot for up to five products
      li &gt; Mentoring by a dedicated Account Manager for the first year, including:

        ul
          li - Monthly sharing of performance-related statistics
          li - Quarterly phone call (if required)
          li - One face-to-face business development meeting at our Richmond offices
          li - Product development critique and guidance from our team.

section.content_wrapper.are_you_a_future_star
    h1 Are you a Future Star?
    p To be a Partner with notonthehighstreet.com, you need to have something a little special. We look for:
    ul
      li &gt; Innovative and original ideas; something a bit different
      li &gt; Creative products from designer-makers or designer-manufacturers
      li &gt; A high quality of design, construction and finishing.

section.application_form#application_form
  
  div.content_wrapper
    #wufoo-zot3rxi0vryo5c