.content_wrapper
    nav.make_awards_nav
        ul
            li
                a(href='#about_make_wards') about
            li
                a(href='#awards_categories') awards & categories
            li
                a(href='#judges') the judges